# Fabric Workspace
FABRIC_WORKSPACE_NAME=FabLab_SQL_Endpoint
FABRIC_LAKEHOUSE_NAME=LH_01
FABRIC_WAREHOUSE_NAME=WH_01
FABRIC_CAPACITY_ID=

# SQL Endpoints (rellenar tras ejecutar provision/setup_fabric.py)
LAKEHOUSE_SERVER=
LAKEHOUSE_DATABASE=
WAREHOUSE_SERVER=
WAREHOUSE_DATABASE=

# Azure / Entra ID
TENANT_ID=
